body{
  font-family: Captain Comic, sans-serif;
  background-color: green;




}
h3{
  font-style: oblique;
  color:gren;


}
.yo {
    text-align: right;

}
.yo img{

    width: 400px;
}
ul img{
    width: 150px;
}
